<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySnake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09FDB60F1F1DDE3000AB8190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FDB62B1F1DDE3000AB8190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FDB6361F1DDE3000AB8190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
